@model IEnumerable<TecBurguer.Models.Hamburguer>

@{
    ViewData["Title"] = "Index";
}

<h1 class="TituloCentral">Hambúrgueres</h1>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<link href="~/css/Hamburgueres.css" rel="stylesheet" />

<table class="table">
    <tbody>
        <div class="CaixaExterna">
            @foreach (var item in Model) {

                @if (item.HamburguerIgredientes.Any() && item.HamburguerIgredientes.All(i => i.IdIngredienteNavigation!.Quantidade >= i.QuantidadeNecessario))
                {
                    <div class="BlocoHamburguer">

                        <img src=@Html.DisplayFor(modelItem => item.Imagem)
                             class="ImagemHamburguer"
                             onerror="this.src='/css/Imagens/BurguerLogo.png'">

                        <h3 class="TituloHamburguer" id="NomeBurguer_@item.IdHamburguer">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </h3>
                        <p class="DescricaoHamburguer">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </p>

                        <div class="BottomInfoBurguer">
                            <h4 class="PrecoBurguer" id="PrecoBurguer_@item.IdHamburguer">R$ @item.Preco</h4>

                            <div class="BotoesDoHamburguer">

                                <a class="SaibaMaisHamburguer" asp-controller="Hamburgueres"
                                   asp-action="Details" asp-route-id="@item.IdHamburguer" style="width: 60%;">
                                    Detalhes
                                </a>

                                <a class="EditarHamburguer" asp-action="Edit" asp-route-id="@item.IdHamburguer" title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <a class="DeletarHamburguer" asp-action="Delete" asp-route-id="@item.IdHamburguer" title="Excluir">
                                    <i class="fa-solid fa-trash"></i>
                                </a>

                            </div>

                        </div>
                    </div>
                }
                else
                {
                    <div class="BlocoHamburguer">

                        <h1 class="ForaDeEstoque">FORA DE ESTOQUE</h1>

                        <img src=@Html.DisplayFor(modelItem => item.Imagem)
                             class="ImagemHamburguer"
                             onerror="this.src='/css/Imagens/BurguerLogo.png'">
                                    
                        <h3 class="TituloHamburguer" id="NomeBurguer_@item.IdHamburguer">
                            @Html.DisplayFor(modelItem => item.Nome)
                        </h3>
                        <p class="DescricaoHamburguer">
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </p>

                        <div class="BottomInfoBurguer">
                            <h4 class="PrecoBurguer" id="PrecoBurguer_@item.IdHamburguer">R$ @item.Preco</h4>

                            <div class="BotoesDoHamburguer">

                                <a class="SaibaMaisHamburguer" asp-controller="Hamburgueres"
                                   asp-action="Details" asp-route-id="@item.IdHamburguer" style="width: 60%;">
                                    Detalhes
                                </a>

                                <a class="EditarHamburguer" asp-action="Edit" asp-route-id="@item.IdHamburguer" title="Editar">
                                    <i class="fa-solid fa-pen-to-square"></i>
                                </a>

                                <a class="DeletarHamburguer" asp-action="Delete" asp-route-id="@item.IdHamburguer" title="Excluir">
                                    <i class="fa-solid fa-trash"></i>
                                </a>

                            </div>

                        </div>
                    </div>
                }
                
            }

            <a asp-action="Create" class="CriarNovoItem">
                <img src="~/css/Imagens/BurguerLogo.png">
                <p>+</p>
             </a>
        </div>
    </tbody>
</table>
