@model IEnumerable<TecBurguer.Models.Ingrediente>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<link href="~/css/Ingrediente.css" rel="stylesheet" />

<div class="index-container">

    <h1>Lista de Ingredientes</h1>

    <p>
        <a asp-action="Create" class="btn-create-new">+ Novo Ingrediente</a>
    </p>

    <table class="styled-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nome)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Quantidade)
                </th>
                <th style="text-align: right;">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantidade)
                    </td>
                    <td>
                        <div class="action-links">
                            <a asp-action="Edit" asp-route-id="@item.IdIngrediente" class="btn-action-edit">Edit</a>
                            <a asp-action="Details" asp-route-id="@item.IdIngrediente" class="btn-action-details">Details</a>
                            <a asp-action="Delete" asp-route-id="@item.IdIngrediente" class="btn-action-delete">Delete</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>