@using Microsoft.AspNetCore.Identity
@using TecBurguer.Areas.Identity.Data

@model IEnumerable<TecBurguer.Models.Hamburguer>

@inject UserManager<LoginCliente> UserManager
@inject SignInManager<LoginCliente> SignInManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="BannerContent">
    <img class="banner" src="~/css/Imagens/Banner.png">
    <div class="BannerOverlay">
        <a href="#OfertasDiarias" class="ScrollDown" pointer>Saiba Mais</a>
        <a href="#OfertasDiarias" class="ScrollDown" pointer>
            <span class="arrow"></span>
        </a>
    </div>
</div>

<div class="Content1" id="OfertasDiarias">
    <h2 class="OfertasDiariasTitle">OFERTAS DO DIA</h2>

</div>

<div class="Content2" id="RecomendacoesDoChefe">
    <h2>RECOMENDAÇÕES DO CHEFE</h2>

</div>


<div class="Content1" id="Cardapio">
    <h2>CARDAPIO</h2>

    <div class="ConteudoContent1">
        @foreach (var item in Model)
        {
            <div class="BlocoHamburguer">
                <img src=@Html.DisplayFor(modelItem => item.Imagem) class="ImagemHamburguer">

                <h3 class="TituloHamburguer" id="NomeBurguer_@item.IdHamburguer">
                    @Html.DisplayFor(modelItem => item.Nome)
                </h3>
                <p class="DescricaoHamburguer">
                    @Html.DisplayFor(modelItem => item.Descricao)
                </p>
                
                <div class="BottomInfoBurguer">
                    <h4 class="PrecoBurguer" id="PrecoBurguer_@item.IdHamburguer">R$ @item.Preco</h4>

                    <div class="BotoesDoHamburguer">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            <a class="CartBurguer"
                               onclick="adicionarAoCarrinho(@item.IdHamburguer, '@UserManager.GetUserName(User)')" > <img src="~/css/Imagens/IconCart.png"></a>
                        }
                        else{
                            <a class="CartBurguer"><img src="~/css/Imagens/IconCart.png"></a>
                        }

                            <a class="SaibaMaisHamburguer">Saiba Mais</a>
                    </div>
                    
                </div>

            </div>
            
        }
    </div>
    

    <a>Acesse nosso cardapio completo</a>
</div>

<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/js/site.js"></script>
